---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-astrogray sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="images/logo.png" width="300" alt="Maizzle">
                </a>
              </td>
            </tr>
            <tr>
              <td>
              <img src="images/header.png" alt="">
            </td>
            </tr>
            <tr role="separator">
                <td class="leading-8">&zwj;</td>
              </tr>
            <tr>
                <block name="main-article"></block>
            </tr>
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
                <block name="first-large-article"></block>
                            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="p-0 px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <block name="first-two-small-articles"></block>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
                <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
                <block name="second-large-article"></block>
            </tr>
            <tr role="separator">
                <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
                <td class="p-0 px-6 sm:px-0 text-left">
                    <table class="w-full">
                      <tr>
                        <block name="second-two-small-articles"></block>
                      </tr>
                    </table>
                  </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <table class="mx-auto">
                <tr>
                  <td class="p-4">
                    <a class="[text-decoration:none] text-astrowhite" href="https://www.facebook.com/astronetpl/">
                        <i class="ri-facebook-circle-fill text-4xl"></i>
                    </a>
                  </td>
                  <td class="p-4">
                    <a class="[text-decoration:none] text-astrowhite" href="https://www.instagram.com/astronetnews/">
                        <i class="ri-instagram-fill text-4xl"></i>
                    </a>
                  </td>
                  <td class="p-4">
                    <a class="[text-decoration:none] text-astrowhite" href="https://www.linkedin.com/company/74350932/">
                        <i class="ri-linkedin-fill text-4xl"></i>
                    </a>
                  </td>
                  <td class="p-4">
                    <a class="[text-decoration:none] text-astrowhite" href="https://open.spotify.com/show/2A2hPTJnK4uRIM0accXFaW">
                        <i class="ri-spotify-fill text-4xl"></i>
                    </a>
                  </td>
                  <td class="p-4">
                    <a class="[text-decoration:none] text-astrowhite" href="https://www.youtube.com/c/KAAlmukantarat">
                        <i class="ri-youtube-fill text-4xl"></i>
                    </a>
                  </td>
                </tr>
              </table>
              
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table>
        <tr>
          <td class="w-screen px-12 sm:px-6 py-4 bg-astrodarkorange rounded text-left shadow-sm">
            <p class="m-1 text-center text-sm text-astroowhite">
                AstroNET, jako czasopismo internetowe, posiada międzynarodowy numer ISSN 1689-5592.
            </p>
            <p class="m-1 text-center text-sm text-astroowhite">
                Otrzymujesz tego maila, ponieważ jesteś zapisany do newslettera AstroNETu. Aby się wypisać, <a href="">kliknij tutaj</a>
            </p>
            <p class="m-1 text-center text-sm text-astroowhite">
                Zapoznaj się z naszą <a href="https://astronet.pl/polityka-prywatnosci/">polityką prywatności</a>
            </p>
          </td>
        </tr>
    </table>
  </div>
</x-main>
