---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-astrogray sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="images/logo.png" width="300" alt="Maizzle">
                </a>
              </td>
            </tr>
            <tr>
              <td>
              <img src="images/header.png" alt="">
            </td>
            </tr>
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
               <x-large-article 
               title="W kosmosie nigdy nie będziemy sami. Grzyby" 
               date="28 grudnia 2023" 
               image="https://www.first-nature.com/fungi/images/russulaceae/lactarius-azonites-sp2.jpg" 
               excerpt="Od pewnego czasu, największym pragnieniem ludzkości stała się kolonizacja obcych ciał niebieskich, Księżyca i Marsa. Jadnak, żeby człowiek mógł zasiedlić odmienne środowisko nieprzystosowane do przeżycia organizmów ziemskich, naukowcy muszą zadbać..." 
               link="https://astronet.pl/autorskie/w-kosmosie-nigdy-nie-bedziemy-sami-grzyby">
              </x-large-article>
            
            <tr>
              <td class="p-0 px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <x-small-article
                    title="Katalog Caldwella: C74"
                    date="29 grudnia 2023"
                    image="https://stsci-opo.org/STScI-01G70BN48JR6M4ZTW3642X2D2H.png"
                    link="https://astronet.pl/wszechswiat/katalog-caldwella/katalog-caldwella-c74/"
                    excerpt="Caldwell 74, znany również jako Pierścień Południowy lub Mgławica Ośmiu Błysków, to mgławica planetarna znajdująca się około 2000 lat świetlnych od nas. Została odkryta przez Johna Herschela w 1835 roku. Obiekt jest pozostałością po umierającej gwieździe podobnej do Słońca, która była częścią układu podwójnego.">
                    </x-small-article>
                    <td class="w-1/2 pl-4 sm:px-0 sm:w-full sm:inline-block align-top">
                      <table class="w-full">
                        <tr>
                          <td class="p-6 bg-white rounded shadow-sm">
                            <p class="m-0 mb-1 text-sm text-slate-500">
                              4 Feb, 2020
                            </p>

                            <h2 class="m-0 mb-6 text-2xl leading-6">
                              Sunt in do sunt officia nisi enim qui eiusmod.
                            </h2>

                            <p class="m-0 mb-6 text-base text-slate-700">
                              Nulla officia mollit ipsum eiusmod excepteur ea...
                            </p>

                            <a
                              href="https://example.com"
                              class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                            >
                              Read more &rarr;
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 text-left">
                <h3 class="m-0 text-base font-semibold text-slate-600 uppercase">
                  From the archives
                </h3>

                <x-spacer height="24px" />

                <table class="w-full">
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>

                      <x-divider space-y="24px" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 py-4 bg-white rounded text-left shadow-sm">
                <p class="m-0 text-sm text-slate-500">
                  You are receiving this email because you signed up for Website Newsletter Weekly. You may
                  <a href="https://example.com" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">unsubscribe</a>
                  at any time.
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12 sm:leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
